.nav-container {
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.nav-item {
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(43, 41, 41);
  font-weight: 500;
  padding: 15px 20px;
  display: block;
  flex: 1;
  cursor: pointer;
}
.item-active {
  background: #48e0ab;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}
.select {
  background: #e4e3e3;
  flex: 1 1 30rem;
  padding: 30px;
}
.goal {
  flex: 1 1 30rem;
  margin-top: 20px;
  padding: 30px;
}
.select-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.select-item label {
  font-size: 18px;
}
.select-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.submit-btn {
  padding: 10px 30px;
  border: 2px solid rgb(43, 65, 255);
  font-size: 22px;
  background: transparent;
  font-weight: bold;
  border-radius: 4px;
  width: 200px;
}
